.School {
  height: 100vh;
}
/* card2 css */
.SchoolCard {
  position: relative;
  top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 5fr); /* Creates 4 equal-width columns */
  grid-gap: 40px;
}
.card2 {
  --bg: #f7f7f8;
  --hover-bg: rgb(198, 212, 225);
  --hover-text: #e5e5e5;
  max-width: 40ch;
  text-align: center;
  background: var(--bg);
  padding: 0.5em;
  padding-block: 0.8em;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1), transform 0.15s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  cursor: pointer;
}
.card2 img {
  height: 100%;
  width: 100%;
}

.card2__body {
  color: #464853;
  line-height: 1.5em;
  font-size: 1em;
}

.card2 > :not(span) {
  transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.card2 > strong {
  display: block;
  font-size: 1.4rem;
  letter-spacing: -0.035em;
}

.card2 span,
.Date {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hover-text);
  border-radius: 5px;
  font-weight: bold;
  top: 100%;
  transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.card2:hover span {
  top: 0;
  font-size: 1.2em;
}

.card2:hover {
  background: var(--hover-bg);
  /* opacity: 50%; */
  /* backdrop-filter:fil; */
}

.card2:hover > div,
.card2:hover > strong {
  opacity: 0;
}
.card2:hover > img {
  filter: blur(10px);
}
